header {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 15px solid black
}

main {
  display: flex;
  /* margin-top: 50px; */
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
  width: 95%;
  height: 750px;
  justify-content: center;
  align-items: center;
  /* border: 15px solid black */
}

#gamescreen {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 600px;
  position: absolute;
  top: 0px;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  min-height: 400px;
  z-index: 3;
  margin-right:  auto;
  margin-left: auto;
}

#gamebg {
  position: relative;
  border: 5px solid black;
  max-height: 450px;
  max-width: 600px;
  object-fit: cover;
}

h1 {
  text-align: center;
  font-size: medium;
  max-width: 600px;
  object-fit: cover;
}

/* #encounterimg {
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
  margin-bottom: 0; 
  bottom: 325px;
  left: 150px;
  z-index: 4;
} */
progress {
  background: red;
}
#bottomhalf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#acndiv {
  position: absolute;
  top: 450px;
  height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
}

#btndiv {
  flex-direction: row;
  max-width: 200px;
  max-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



#battlediv, #objectdiv {
  position: relative;
  bottom: 600px;
  right: 200px;
  z-index: 5;
  margin: none;
  margin: 0;
  background-color: none;
}



#playerinfo, #enemyinfo {
  background-color: white;
  max-width: 175px;
  max-height: 50px;
  flex: wrap;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  border: 5px solid gray;
  border-radius: 10%
}

#playerinfo {
  left: 50px;
  top: 30px;
}

#enemyimg {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0; 
  position: relative;
  top: 250px;
  left: 350px;
}

#playerimg {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0; 
}

#npcimg {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 350px;
}

#objectimg {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0; 
  position: relative;
  top: 300px;
  left: 175px;
}


#enemyinfo {
  left: 350px;
  top: 200px;
}

.healthbar {
  margin-bottom: 3px;
}

.expbar {
  margin-top: 0px;
  position: relative;
  bottom: 10px;
}

/* #bottomhalf {
  height: 300px;
  width: 600px;
} */

/* #tophalf {
  max-height: 400px;
  max-width: 600px;
} */
#sprite-gallery {
  position: absolute;
  bottom: 50px;
}


.gallerybtn {
  position: absolute;
  bottom: 100px;
}
/* #game-content-area {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.continue-button {
  margin-top: 20px; /* Pushes button to consistent position */
}

