header {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 15px solid black
}

main {
  display: flex;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  width: 95%;
  height: 95%;
  justify-content: center;
  align-items: center;
  border: 15px solid black

}
